@font-face
  font-family: eight-bit
  src: url(/assets/fonts/8bit.ttf)

*
  text-align: center
  vertical-align: middle
  font-family: eight-bit
  font-size: 0.95em
  color: white
  margin: 0
  padding: 0

body
  background-color: #111
  margin: 2em

canvas
  border: 5px solid white

footer,
header
  padding: 1em

main
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: center

div.side-panel
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  padding: 1em

span#score-text,
span#highscore-text
  display: inline-block
  background: #73AD21
  min-width: 45%
  height: 100%
  padding: 0.5em
  margin: 0.5em
  border-radius: 25px
